version: '3.1'

services:
  db:
    image: mysql:8.0
    restart: always
    environment:
      MYSQL_DATABASE: crypto_analyzer_db
      MYSQL_USER: admin
      MYSQL_PASSWORD: crypto1234
      MYSQL_ROOT_PASSWORD: password
    ports:
      - 3307:3306